/loops
/__pycache__
/generated_models
/dot_bracket_50
/dot_bracket_60
/dot_brakcet_70
/dot_bracket_80
/dot_bracket_start_60
/dot_brakcet_start_70
/dot_bracket_start_80
/data
/lp_multi
/sol_multi
/lp_start
/sol_start
/lp
/sol
/gurobi_log
/gurobi_log-old
/ILP/__pycache__