/loops
__pycache__/
/generated_models
/dot_bracket_0_50
/dot_bracket_30_50
/dot_bracket_50
/dot_bracket_50_60
/dot_bracket_60
/dot_bracket_60_70
/dot_brakcet_70
/dot_bracket_70_80
/dot_bracket_110_120
/dot_bracket_start_30_50
/dot_bracket_start_50_60
/dot_bracket_start_60
/dot_bracket_start_60_70
/data
/lp_start
/sol_start
/lp_multi
/sol_multi
/incumbent
/incumbent_start
/lp
/sol
/gurobi_log
ILP/__pycache__/
tune.prm